// Social Icons
.mi-socialicons {
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding-left: 0;
    margin-bottom: 0;

    li {
        a {
            display: inline-block;
            height: 40px;
            width: 40px;
            border-radius: 1000px;
            background: $color-secondary;
            color: #ffffff;
            text-align: center;
            line-height: 40px;
            font-size: 20px;
            vertical-align: middle;

            &:hover {
                background: $color-primary;
                color: #ffffff;
            }
        }
    }

    &.mi-socialicons-outline {
        li {
            a {
                background: transparent;
                border: 1px solid $color-secondary;
                color: $color-secondary;
            }
        }
    }
}