// Widget
.widget {
    &-title {
        color: $color-secondary;
        text-transform: uppercase;
        font-weight: 600;
    }

    ul {
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;

        li {
            &:not(:last-child) {
                margin-bottom: 5px;
            }

            a {
                color: darken(#ffffff, 30%);

                &:hover {
                    color: $color-secondary;
                }
            }
        }
    }
}