*,
:after,
:before {
    margin: 0;
    padding: 0
}

html {
    margin: 0;
    padding: 0;
    font-size: 100%;
    scroll-behavior: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background: $white;
}

body{
    font-family: $font-body;
    font-size: $body-fontsize;
    line-height: 1.6;
    font-weight: 400;
    color: $color-body;
}

p.lead {
    font-size: 20px;
    line-height: 1.5
}

small {
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400
}

strong {
    font-weight: 600
}

address,
blockquote,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
menu,
ol,
p,
pre,
table,
ul {
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
    color: $color-heading;
    word-break: break-word
}

h1 {
    font-size: 46px
}

h1,
h2 {
    line-height: 1.2
}

h2 {
    font-size: 36px
}

h3 {
    font-size: 26px;
    line-height: 1.3
}

h4 {
    font-size: 22px;
    line-height: 1.4
}

h5 {
    font-size: 18px;
    line-height: 1.5
}

h6 {
    font-size: 14px;
    line-height: 1.8
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit
}

a {
    cursor: pointer;
    transition: all 0.4s ease-in-out 0s;
    text-decoration: none ;
}

a,
a:active,
a:focus {
    text-decoration: none !important;
}

p a {
    color: inherit;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

p a:hover {
    color: $color-primary;
}

img{
    max-width: 100%;
}

ol,
ul {
    padding-left: 15px
}

ul {
    list-style-type: disc
}

ol {
    list-style-type: decimal
}

dl dt {
    font-weight: 500
}

blockquote {
    border-radius: 10px;
    border-left-width: 5px;
    border-color: $color-primary;
    background-color: rgba($color-primary, 0.1);
    padding: 15px;
    font-size: 20px;
    line-height: 1.5;

    p{
        font-size: 20px;
        line-height: 1.5;

        &::before {
            content: open-quote
        }
        &::after {
            content: close-quote
        }
    }
}

code {
    padding-left: 5px;
    padding-right: 5px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

code,
pre {
    border-radius: 4px;
    background: darken($color-grey, 50);
}

pre {
    max-height: 500px;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    padding: 1rem;
}

hr {
    border-top-width: 1px
}

button,
hr,
input,
select,
textarea {
    border-color: $color-border;
}

button,
input,
select,
textarea {
    min-height: 45px;
    width: 100%;
    border-radius: $radius;
    border-width: 1px;
    background-color: darken($color-grey, 50);
    padding-left: 1rem;
    padding-right: 1rem;
    color: $color-body;
    transition: all 0.5s ease-in-out 0s;
}

button::-moz-placeholder,
input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
    color: lighten($color-body, 50%);
}

button:-ms-input-placeholder,
input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: lighten($color-body, 50%);
}

button::placeholder,
input::placeholder,
select::placeholder,
textarea::placeholder {
    color: lighten($color-body, 50%);
}

button:active,
button:focus,
input:active,
input:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
    border-color: $color-primary;
    outline: 2px solid transparent;
    outline-offset: 2px
}

textarea {
    min-height: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

label {
    margin-bottom: 8px;
    display: block;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
    color: $color-heading;
}

button,
input:not([type=checkbox],
    [type=radio]),
select {
    min-height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem
}

input[type=radio] {
    display: none
}

input[type=radio]+label,
input[type=radio]~label {
    position: relative;
    margin-bottom: 0;
    display: inline;
    padding-left: 1.75rem
}

input[type=radio]+label:after,
input[type=radio]+label:before,
input[type=radio]~label:after,
input[type=radio]~label:before {
    content: "";
    position: absolute;
    left: 0;
    top: -.125rem;
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    border-radius: 9999px;
    background-color: transparent;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

input[type=radio]+label:before,
input[type=radio]~label:before {
    border-width: 3px;
    border-color: $color-border;
}

input[type=radio]+label:after,
input[type=radio]~label:after {
    -webkit-animation: none;
    animation: none;
    border-width: 1px;
    border-color: transparent
}

input[type=radio]:checked~label:before {
    border-width: 6px;
    border-color: $color-primary;
    background-color: darken($color-primary, 20%);
}

@-webkit-keyframes ping {
    75%,
    to {
        transform: scale(2);
        opacity: 0
    }
}

input[type=radio]:checked~label:after {
    -webkit-animation: ping 1s cubic-bezier(0, 0, .2, 1) infinite;
    animation: ping 1s cubic-bezier(0, 0, .2, 1) infinite;
    border-color: $color-primary;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1
}

input[type=checkbox] {
    display: none
}

input[type=checkbox]+label,
input[type=checkbox]~label {
    position: relative;
    margin-bottom: 0;
    display: inline;
    padding-left: 2.75rem
}

input[type=checkbox]+label:after,
input[type=checkbox]+label:before,
input[type=checkbox]~label:after,
input[type=checkbox]~label:before {
    content: "";
    position: absolute;
    left: 0;
    top: -.125rem;
    cursor: pointer;
    border-radius: 9999px;
    background-color: transparent;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

input[type=checkbox]+label:before,
input[type=checkbox]~label:before {
    height: 1.25rem;
    width: 2.25rem;
    background-color: $color-border;
}

input[type=checkbox]+label:after,
input[type=checkbox]~label:after {
    left: .125rem;
    top: 0;
    height: 1rem;
    width: 1rem;
    background-color: $color-primary;
}

input[type=checkbox]:checked~label:before {
    background-color:$color-primary;
}

input[type=checkbox]:checked~label:after {
    left: 18px;
    background-color: $color-primary;
}

input[type=file] {
    display: block;
    width: 100%;
    cursor: pointer;
    border-style: none;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    line-height: 1.8
}

input[type=file]::-webkit-file-upload-button {
    margin-right: 1rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 9999px;
    border-width: 0;
    background-color: $color-primary;
    padding: .5rem 1rem;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 500;
    color: $color-grey;
}

input[type=file]::file-selector-button {
    margin-right: 1rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 9999px;
    border-width: 0;
    background-color: $color-primary;
    padding: .5rem 1rem;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 500;
    color: $color-body;
}