// Spacing
@for $i from 1 through 25 {
    .pt-#{$i * 5} {
        padding-top: 5px * $i;
    }
    .pb-#{$i * 5} {
        padding-bottom: 5px * $i;
    }
    .mt-#{$i * 5} {
        margin-top: 5px * $i;
    }
    .mb-#{$i * 5} {
        margin-bottom: 5px * $i;
    }
}
@for $i from 1 through 10 {
    .pt-#{$i} {
        padding-top: 1px * $i !important;
    }
    .pb-#{$i} {
        padding-bottom: 1px * $i !important;
    }
    .pl-#{$i} {
        padding-left: 1px * $i !important;
    }
    .pr-#{$i} {
        padding-right: 1px * $i !important;
    }
    .mt-#{$i} {
        margin-top: 1px * $i !important;
    }
    .mb-#{$i} {
        margin-bottom: 1px * $i !important;
    }
}