// Utility classes
.wrapper {
    position: relative;
}

.fw-thin{
    font-weight: 300;
}
.fw-normal{
    font-weight: 400;
}
.fw-medium{
    font-weight: 500;
}
.fw-semibold{
    font-weight: 600;
}
.fw-bold{
    font-weight: 700;
}
.h-screen {
    height: 100vh;
}

.w-scrren {
    width: 100vw;
}

.min-h-screen {
    min-height: 100vh;
}

.min-w-screen {
    min-width: 100vw;
}

.bg-primary {
    background: $color-primary !important;
}

.bg-secondary {
    background: $color-secondary !important;
}

.bg-tertiary {
    background: $color-tertiary !important;
}

.bg-grey{
    background: $color-grey !important;
}

.bg-white{
    background: $white !important;
}

.bg-black{
    background: $black !important;
}

.bg-gradient {
    background: $color-primary;
    background-image: linear-gradient(to right, $color-primary, $color-secondary) !important;
}

.text-primary {
    color: $color-primary !important;
}

.text-secondary {
    color: $color-secondary !important;
}

.text-tertiary {
    color: $color-tertiary !important;
}

.text-gradient {
    color: $color-primary !important;
}

@supports (-webkit-background-clip: text) {
    .text-gradient {
        background: linear-gradient(to right, $color-secondary, $color-tertiary);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent !important;
    }
}

.border-border {
    border-color: $color-border;
}

.mi-card {
    
}