$white: #ffffff;
$black: #000000;
$color-primary: #2A2D7C;
$color-secondary: #2a95d2;
$color-tertiary: #00a651;

$color-body: #414c41;
$color-heading: #131a13;

$color-border: #eaeaea;

$color-grey: #F6F6FA;

$body-fontsize: 16px;

$font-body: "Inter", "sans-serif";
$font-heading: "Inter", "sans-serif";

$radius: 6px;