*,
:after,
:before {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  scroll-behavior: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

body {
  font-family: "Inter", "sans-serif";
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #414c41;
}

p.lead {
  font-size: 20px;
  line-height: 1.5;
}

small {
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

address,
blockquote,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
menu,
ol,
p,
pre,
table,
ul {
  margin-bottom: 15px;
}

address:last-child,
blockquote:last-child,
dl:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
hr:last-child,
menu:last-child,
ol:last-child,
p:last-child,
pre:last-child,
table:last-child,
ul:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", "sans-serif";
  color: #131a13;
  word-break: break-word;
}

h1 {
  font-size: 46px;
}

h1,
h2 {
  line-height: 1.2;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
  line-height: 1.3;
}

h4 {
  font-size: 22px;
  line-height: 1.4;
}

h5 {
  font-size: 18px;
  line-height: 1.5;
}

h6 {
  font-size: 14px;
  line-height: 1.8;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

a {
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  text-decoration: none;
}

a,
a:active,
a:focus {
  text-decoration: none !important;
}

p a {
  color: inherit;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

p a:hover {
  color: #2A2D7C;
}

img {
  max-width: 100%;
}

ol,
ul {
  padding-left: 15px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

dl dt {
  font-weight: 500;
}

blockquote {
  border-radius: 10px;
  border-left-width: 5px;
  border-color: #2A2D7C;
  background-color: rgba(42, 45, 124, 0.1);
  padding: 15px;
  font-size: 20px;
  line-height: 1.5;
}

blockquote p {
  font-size: 20px;
  line-height: 1.5;
}

blockquote p::before {
  content: open-quote;
}

blockquote p::after {
  content: close-quote;
}

code {
  padding-left: 5px;
  padding-right: 5px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

code,
pre {
  border-radius: 4px;
  background: #56569b;
}

pre {
  max-height: 500px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  padding: 1rem;
}

hr {
  border-top-width: 1px;
}

button,
hr,
input,
select,
textarea {
  border-color: #eaeaea;
}

button,
input,
select,
textarea {
  min-height: 45px;
  width: 100%;
  border-radius: 6px;
  border-width: 1px;
  background-color: #56569b;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #414c41;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

button:-ms-input-placeholder,
input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #c2cac2;
}

button::-webkit-input-placeholder,
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #c2cac2;
}

button::-ms-input-placeholder,
input::-ms-input-placeholder,
select::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #c2cac2;
}

button::placeholder,
input::placeholder,
select::placeholder,
textarea::placeholder {
  color: #c2cac2;
}

button:active,
button:focus,
input:active,
input:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
  border-color: #2A2D7C;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

textarea {
  min-height: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

label {
  margin-bottom: 8px;
  display: block;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
  color: #131a13;
}

button,
input:not([type=checkbox],
[type=radio]),
select {
  min-height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label,
input[type=radio] ~ label {
  position: relative;
  margin-bottom: 0;
  display: inline;
  padding-left: 1.75rem;
}

input[type=radio] + label:after,
input[type=radio] + label:before,
input[type=radio] ~ label:after,
input[type=radio] ~ label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -.125rem;
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
  border-radius: 9999px;
  background-color: transparent;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
}

input[type=radio] + label:before,
input[type=radio] ~ label:before {
  border-width: 3px;
  border-color: #eaeaea;
}

input[type=radio] + label:after,
input[type=radio] ~ label:after {
  -webkit-animation: none;
  animation: none;
  border-width: 1px;
  border-color: transparent;
}

input[type=radio]:checked ~ label:before {
  border-width: 6px;
  border-color: #2A2D7C;
  background-color: #101130;
}

@-webkit-keyframes ping {
  75%,
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

input[type=radio]:checked ~ label:after {
  -webkit-animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  border-color: #2A2D7C;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label,
input[type=checkbox] ~ label {
  position: relative;
  margin-bottom: 0;
  display: inline;
  padding-left: 2.75rem;
}

input[type=checkbox] + label:after,
input[type=checkbox] + label:before,
input[type=checkbox] ~ label:after,
input[type=checkbox] ~ label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -.125rem;
  cursor: pointer;
  border-radius: 9999px;
  background-color: transparent;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
}

input[type=checkbox] + label:before,
input[type=checkbox] ~ label:before {
  height: 1.25rem;
  width: 2.25rem;
  background-color: #eaeaea;
}

input[type=checkbox] + label:after,
input[type=checkbox] ~ label:after {
  left: .125rem;
  top: 0;
  height: 1rem;
  width: 1rem;
  background-color: #2A2D7C;
}

input[type=checkbox]:checked ~ label:before {
  background-color: #2A2D7C;
}

input[type=checkbox]:checked ~ label:after {
  left: 18px;
  background-color: #2A2D7C;
}

input[type=file] {
  display: block;
  width: 100%;
  cursor: pointer;
  border-style: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
  line-height: 1.8;
}

input[type=file]::-webkit-file-upload-button {
  margin-right: 1rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 9999px;
  border-width: 0;
  background-color: #2A2D7C;
  padding: .5rem 1rem;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 500;
  color: #F6F6FA;
}

input[type=file]::file-selector-button {
  margin-right: 1rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 9999px;
  border-width: 0;
  background-color: #2A2D7C;
  padding: .5rem 1rem;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 500;
  color: #414c41;
}

.pt-5 {
  padding-top: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pb-35 {
  padding-bottom: 35px;
}

.mt-35 {
  margin-top: 35px;
}

.mb-35 {
  margin-bottom: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pb-45 {
  padding-bottom: 45px;
}

.mt-45 {
  margin-top: 45px;
}

.mb-45 {
  margin-bottom: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pb-55 {
  padding-bottom: 55px;
}

.mt-55 {
  margin-top: 55px;
}

.mb-55 {
  margin-bottom: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pb-65 {
  padding-bottom: 65px;
}

.mt-65 {
  margin-top: 65px;
}

.mb-65 {
  margin-bottom: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pb-75 {
  padding-bottom: 75px;
}

.mt-75 {
  margin-top: 75px;
}

.mb-75 {
  margin-bottom: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pb-85 {
  padding-bottom: 85px;
}

.mt-85 {
  margin-top: 85px;
}

.mb-85 {
  margin-bottom: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pb-95 {
  padding-bottom: 95px;
}

.mt-95 {
  margin-top: 95px;
}

.mb-95 {
  margin-bottom: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pb-105 {
  padding-bottom: 105px;
}

.mt-105 {
  margin-top: 105px;
}

.mb-105 {
  margin-bottom: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pb-110 {
  padding-bottom: 110px;
}

.mt-110 {
  margin-top: 110px;
}

.mb-110 {
  margin-bottom: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pb-115 {
  padding-bottom: 115px;
}

.mt-115 {
  margin-top: 115px;
}

.mb-115 {
  margin-bottom: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pb-120 {
  padding-bottom: 120px;
}

.mt-120 {
  margin-top: 120px;
}

.mb-120 {
  margin-bottom: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pb-125 {
  padding-bottom: 125px;
}

.mt-125 {
  margin-top: 125px;
}

.mb-125 {
  margin-bottom: 125px;
}

.pt-1 {
  padding-top: 1px !important;
}

.pb-1 {
  padding-bottom: 1px !important;
}

.pl-1 {
  padding-left: 1px !important;
}

.pr-1 {
  padding-right: 1px !important;
}

.mt-1 {
  margin-top: 1px !important;
}

.mb-1 {
  margin-bottom: 1px !important;
}

.pt-2 {
  padding-top: 2px !important;
}

.pb-2 {
  padding-bottom: 2px !important;
}

.pl-2 {
  padding-left: 2px !important;
}

.pr-2 {
  padding-right: 2px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.pt-3 {
  padding-top: 3px !important;
}

.pb-3 {
  padding-bottom: 3px !important;
}

.pl-3 {
  padding-left: 3px !important;
}

.pr-3 {
  padding-right: 3px !important;
}

.mt-3 {
  margin-top: 3px !important;
}

.mb-3 {
  margin-bottom: 3px !important;
}

.pt-4 {
  padding-top: 4px !important;
}

.pb-4 {
  padding-bottom: 4px !important;
}

.pl-4 {
  padding-left: 4px !important;
}

.pr-4 {
  padding-right: 4px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.pt-6 {
  padding-top: 6px !important;
}

.pb-6 {
  padding-bottom: 6px !important;
}

.pl-6 {
  padding-left: 6px !important;
}

.pr-6 {
  padding-right: 6px !important;
}

.mt-6 {
  margin-top: 6px !important;
}

.mb-6 {
  margin-bottom: 6px !important;
}

.pt-7 {
  padding-top: 7px !important;
}

.pb-7 {
  padding-bottom: 7px !important;
}

.pl-7 {
  padding-left: 7px !important;
}

.pr-7 {
  padding-right: 7px !important;
}

.mt-7 {
  margin-top: 7px !important;
}

.mb-7 {
  margin-bottom: 7px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pl-8 {
  padding-left: 8px !important;
}

.pr-8 {
  padding-right: 8px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.pt-9 {
  padding-top: 9px !important;
}

.pb-9 {
  padding-bottom: 9px !important;
}

.pl-9 {
  padding-left: 9px !important;
}

.pr-9 {
  padding-right: 9px !important;
}

.mt-9 {
  margin-top: 9px !important;
}

.mb-9 {
  margin-bottom: 9px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.wrapper {
  position: relative;
}

.fw-thin {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.h-screen {
  height: 100vh;
}

.w-scrren {
  width: 100vw;
}

.min-h-screen {
  min-height: 100vh;
}

.min-w-screen {
  min-width: 100vw;
}

.bg-primary {
  background: #2A2D7C !important;
}

.bg-secondary {
  background: #2a95d2 !important;
}

.bg-tertiary {
  background: #00a651 !important;
}

.bg-grey {
  background: #F6F6FA !important;
}

.bg-white {
  background: #ffffff !important;
}

.bg-black {
  background: #000000 !important;
}

.bg-gradient {
  background: #2A2D7C;
  background-image: -webkit-gradient(linear, left top, right top, from(#2A2D7C), to(#2a95d2)) !important;
  background-image: linear-gradient(to right, #2A2D7C, #2a95d2) !important;
}

.text-primary {
  color: #2A2D7C !important;
}

.text-secondary {
  color: #2a95d2 !important;
}

.text-tertiary {
  color: #00a651 !important;
}

.text-gradient {
  color: #2A2D7C !important;
}

@supports (-webkit-background-clip: text) {
  .text-gradient {
    background: -webkit-gradient(linear, left top, right top, from(#2a95d2), to(#00a651));
    background: linear-gradient(to right, #2a95d2, #00a651);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent !important;
  }
}

.border-border {
  border-color: #eaeaea;
}

.mi-btn {
  background-color: #2a95d2;
  background-image: -webkit-gradient(linear, left top, right top, from(#2a95d2), to(#00a651));
  background-image: linear-gradient(to right, #2a95d2, #00a651);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  color: #ffffff;
  border: 0;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-decoration: none;
  min-height: 50px;
  padding: 0px 30px;
  z-index: 2;
  vertical-align: middle;
}

.mi-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #2a95d2;
  background-image: -webkit-gradient(linear, left top, right top, from(#00a651), to(#2a95d2));
  background-image: linear-gradient(to right, #00a651, #2a95d2);
  z-index: -2;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.mi-btn:hover {
  color: #ffffff;
}

.mi-btn:hover::before {
  opacity: 0;
}

.mi-btn.mi-btn-large {
  font-size: 16px;
  min-height: 60px;
  padding: 0 35px;
  letter-spacing: 1.5px;
}

.mi-btn.mi-btn-small {
  min-height: 40px;
  padding: 0 15px;
}

@-webkit-keyframes videoButtonAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.55);
            transform: scale(1.55);
    opacity: 0;
  }
}

@keyframes videoButtonAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.55);
            transform: scale(1.55);
    opacity: 0;
  }
}

.mi-button-video {
  position: relative;
  height: 80px;
  width: 80px;
  border: 0;
  border-radius: 999px;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
  vertical-align: middle;
  background-color: #2a95d2;
  background-image: -webkit-gradient(linear, left top, right top, from(#2a95d2), to(#00a651));
  background-image: linear-gradient(to right, #2a95d2, #00a651);
  z-index: 2;
}

.mi-button-video::before, .mi-button-video::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 999px;
  background: rgba(0, 0, 0, 0.1);
  z-index: -2;
}

.mi-button-video::before {
  -webkit-animation: videoButtonAnimation 1.2s ease-in-out 0s infinite both;
          animation: videoButtonAnimation 1.2s ease-in-out 0s infinite both;
}

.mi-button-video::after {
  -webkit-animation: videoButtonAnimation 1.2s ease-in-out 0.3s infinite both;
          animation: videoButtonAnimation 1.2s ease-in-out 0.3s infinite both;
}

.mi-button-video:hover {
  color: #ffffff;
}

.mi-sectiontitle {
  position: relative;
  margin-bottom: 60px;
}

.mi-sectiontitle h2 {
  font-weight: 700;
  color: #2A2D7C;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px rgba(42, 45, 124, 0.3);
}

@supports (-webkit-background-clip: text) {
  .mi-sectiontitle h2 {
    background: -webkit-gradient(linear, left top, left bottom, from(#2A2D7C), to(#00a651));
    background: linear-gradient(to bottom, #2A2D7C, #00a651);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.mi-socialicons {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding-left: 0;
  margin-bottom: 0;
}

.mi-socialicons li a {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 1000px;
  background: #2a95d2;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  vertical-align: middle;
}

.mi-socialicons li a:hover {
  background: #2A2D7C;
  color: #ffffff;
}

.mi-socialicons.mi-socialicons-outline li a {
  background: transparent;
  border: 1px solid #2a95d2;
  color: #2a95d2;
}

.mi-teammember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.mi-teammember-image {
  border-radius: 1000px;
  height: 150px;
  width: 150px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  border: 5px solid #2a95d2;
  overflow: hidden;
}

.mi-teammember-image img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.mi-teammember-content {
  padding-left: 20px;
}

.mi-teammember-content h5 {
  margin-bottom: 5px;
}

.mi-teammember:hover .mi-teammember-image img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.variation-2.mi-teammember {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.variation-2.mi-teammember .mi-socialicons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.variation-2 .mi-teammember-image {
  height: 200px;
  width: 200px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  border-width: 8px;
}

.variation-2 .mi-teammember-content {
  padding-left: 0;
  padding-top: 20px;
}

.mi-roadmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 20px 0;
}

.mi-roadmap::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  border-left: 2px solid rgba(0, 166, 81, 0.5);
}

.mi-roadmap-left {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  text-align: right;
}

.mi-roadmap-left::before, .mi-roadmap-left::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.mi-roadmap-left::before {
  left: auto;
  right: -10px;
  top: 50%;
  width: calc(40% + 5px);
  border-top: 2px solid #00a651;
}

.mi-roadmap-left::after {
  left: calc(100% - 5px);
  top: 50%;
  height: 18px;
  width: 18px;
  border-radius: 1000px;
  background: #00a651;
  margin-top: -9px;
}

.mi-roadmap-left .lines {
  position: absolute;
  display: inline-block;
  height: 120px;
  width: 120px;
  top: 0;
  left: auto;
  right: calc(40% - 5px);
  border-radius: 1000px;
  border: 2px solid #00a651;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.mi-roadmap-right {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-left: 50px;
  position: relative;
}

.mi-roadmap-right::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 60px;
  height: 20px;
  width: 20px;
  border: 2px solid rgba(0, 166, 81, 0.5);
  border-radius: 1000px;
  margin-top: -10px;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.mi-roadmap-right h5 {
  color: #2a95d2;
}

.mi-roadmap-timeline {
  display: inline-block;
  height: 120px;
  width: 120px;
  border-radius: 1000px;
  background: #2a95d2;
  text-align: center;
  margin-right: 40%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  position: relative;
}

.mi-roadmap-timeline span {
  margin-top: 8px;
  display: inline-block;
}

.mi-roadmap-timeline strong {
  display: block;
  font-size: 28px;
  font-weight: 700;
}

.mi-roadmap:hover .mi-roadmap-left::before, .mi-roadmap:hover .mi-roadmap-left::after {
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
}

.mi-roadmap:hover .mi-roadmap-left .lines {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.mi-roadmap:hover .mi-roadmap-right::before {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.mi-roadmap:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.mi-roadmap:nth-child(even) .mi-roadmap-right {
  padding-left: 0;
  padding-right: 50px;
  text-align: right;
}

.mi-roadmap:nth-child(even) .mi-roadmap-right::before {
  left: auto;
  right: -12px;
}

.mi-roadmap:nth-child(even) .mi-roadmap-left {
  text-align: left;
}

.mi-roadmap:nth-child(even) .mi-roadmap-left::before {
  right: auto;
  left: -10px;
}

.mi-roadmap:nth-child(even) .mi-roadmap-left::after {
  left: auto;
  right: calc(100% - 5px);
}

.mi-roadmap:nth-child(even) .mi-roadmap-left .lines {
  right: auto;
  left: calc(40% - 5px);
}

.mi-roadmap:nth-child(even) .mi-roadmap-timeline {
  margin-right: auto;
  margin-left: 40%;
}

.mi-roadmap:nth-child(even):hover .mi-roadmap-left::before, .mi-roadmap:nth-child(even):hover .mi-roadmap-left::after {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.mi-roadmap:nth-child(even):hover .mi-roadmap-left .lines {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.mi-roadmap:nth-child(even):hover .mi-roadmap-right::before {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.mi-tokenomics {
  background-color: #F6F6FA;
  border-radius: 12px;
  padding: 30px;
  position: relative;
  z-index: 1;
}

.mi-tokenomics::before, .mi-tokenomics::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 12px;
}

.mi-tokenomics::before {
  background-color: #F6F6FA;
  z-index: -1;
}

.mi-tokenomics::after {
  background: -webkit-gradient(linear, left top, right top, from(#2a95d2), to(#00a651));
  background: linear-gradient(to right, #2a95d2, #00a651);
  z-index: -2;
}

.mi-tokenomics h5 {
  margin-bottom: 5px;
}

.mi-tokenomics:hover::after {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.widget-title {
  color: #2a95d2;
  text-transform: uppercase;
  font-weight: 600;
}

.widget ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.widget ul li:not(:last-child) {
  margin-bottom: 5px;
}

.widget ul li a {
  color: #b3b3b3;
}

.widget ul li a:hover {
  color: #2a95d2;
}

.mi-navigation ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 30px;
}

.mi-navigation ul li a {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #131a13;
  font-size: 16px;
  padding: 30px 0;
}

.mi-navigation ul li:hover a {
  color: #2A2D7C;
}

.mi-header {
  position: relative;
  z-index: 100;
}

.mi-header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mi-header-logo {
  height: 60px;
  display: inline-block;
  width: auto;
}

.mi-header-logo img {
  height: 100%;
  width: auto;
}

.mi-header-navigation ul li a {
  color: #cccccc;
  font-size: 14px;
}

.mi-header-navigation ul li:hover a {
  color: #2a95d2;
}

.mi-header.mi-header-transparent {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.mi-herosection {
  position: relative;
  z-index: 2;
  overflow: hidden;
  color: #cccccc;
}

.mi-herosection-inner {
  background-color: rgba(42, 45, 124, 0.5);
  background-image: url(/public/bioviratech/images/background-shape.png);
}

.mi-herosection-text {
  color: #cccccc;
}

.particle-canvas {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.mi-countdownbox {
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 6px;
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1);
}

.mi-countdownbox-clock ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.mi-countdownbox-clock ul li {
  border: 1px dashed #2a95d2;
  min-height: 80px;
  min-width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px 5px;
  border-radius: 6px;
  position: relative;
}

.mi-countdownbox-clock ul li span {
  font-size: 42px;
  line-height: 1;
  font-weight: 700;
  color: #2a95d2;
}

.mi-countdownbox-clock ul li span small {
  display: block;
  text-transform: uppercase;
}

.mi-countdownbox-clock ul li:not(:last-child)::after {
  content: ":";
  position: absolute;
  left: calc(100% + 11px);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 32px;
  font-weight: 700;
}

.mi-countdownbox-rangecontent span {
  font-size: 14px;
  line-height: 1;
}

.mi-countdownbox-rangecontent strong {
  display: block;
  color: #2a95d2;
}

.mi-countdownbox-rangecontent .left {
  text-align: left;
}

.mi-countdownbox-rangecontent .right {
  text-align: right;
}

.mi-countdownbox-rangebar {
  background: rgba(42, 149, 210, 0.3);
  display: block;
  height: 10px;
  width: 100%;
  position: relative;
  margin: 10px 0;
  border-radius: 100px;
  margin: 15px 0;
}

.mi-countdownbox-rangebar::before, .mi-countdownbox-rangebar::after {
  content: '';
  position: absolute;
  top: 50%;
  height: 30px;
  width: 2px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mi-countdownbox-rangebar::before {
  left: 20px;
}

.mi-countdownbox-rangebar::after {
  left: auto;
  right: 20px;
}

.mi-countdownbox-range {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#2a95d2), to(#00a651));
  background: linear-gradient(to right, #2a95d2, #00a651);
  border-radius: 100px;
}

.mi-footer {
  color: #b3b3b3;
  background: #121212;
}

.mi-footer-logo {
  display: inline-block;
  height: 60px;
}

.mi-footer-logo img {
  height: 100%;
}

.mi-footer-copyright {
  background: #0d0d0d;
  padding: 15px 0;
}
/*# sourceMappingURL=style.css.map */