/*!
Template :	ICOCrypto @by Softnio
Theme	 :  Default
Version   :  1.9.3
Updated   :  05/05/2021 
*/
/*! WRITE YOUR CUSTOM STYLE **/

.w-full {
    width: 100%;
}
.mi-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}
.mi-card-2 {
    backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    border: 0;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 15%),
        inset 10px 10px 20px rgb(255 255 255 / 5%),
        inset -10px -10px 20px rgb(255 255 255 / 5%);
}
.mi-card-reverse {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}
.countdown-time {
    border-radius: 5px;
    font-size: 24px;
    font-weight: 700;
}
.has-fixed.is-dark .header-main {
    background: rgba(25, 37, 44, 0.8);
    backdrop-filter: blur(10px);
}
.wgs-logo img {
    height: 50px;
}
.table-head {
    color: #ffffff;
}
.table tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.roadmap-wrap {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.btn-download {
    height: 60px;
}
.token-info {
    margin-bottom: 0;
}

